<!DOCTYPE html>
{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{ name_page|title }}
        {% endblock %}
    </title>

    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block js %}
        <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
    {% endblock %}
</head>
<body>
    <div class="container-fluid">
        {% block menu %}

        {% endblock %}

        {% block content %}

        {% endblock %}

        {% block footer %}

        {% endblock %}
    </div>
</body>
</html>